html{
    height: 100%;
}

body{
    background-color:#74BBE4;
    min-height: 100%;
    position: relative;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

li{
    padding-left: 30px;
}

.footer{
    position: fixed;
    bottom: 0;
    justify-content: center;
    background-color: gray;
    min-width: 100%;    
}
.container{
    background-color:gray;
    text-align: center;
    margin-top: 30px;
}